@import "styles/mixins";

*,
.context,
.ad.hoc {
  &.overlay {
    background: #eee;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zIndexOfDefaultModalOverlay;

    &:focus { outline: none; }
  }

  &.container {
    background: #fff;
    box-shadow: 0 0 14px 1px rgba(38 38 40 / 15%);
    border-radius: 0.3em;
    max-height: 95vh;
    max-width: $screen-md;
    overflow: hidden;
    padding: 0.6em 1.2em;
    width: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $zIndexOfDefaultModalOverlay + 1;

    @include xs-to-lg {
      max-width: 95vw;
    }
  }
}
