# Ignore hidden files
.*

# Ignore test-related stuff
__coverage__/
**/__mocks__/
__tests__/

# Ignore locally created library packs
dr.pogodin-react-utils-*

# Ignores documentation
/docs

# Config & scripts TS sources
/bin-ts-src
/config-ts-src

# No need for source now?
/src
