# Ignore hidden files
.*

# Ignore test-related stuff
__coverage__/
**/__mocks__/
__tests__/

# Ignore locally created library packs
dr.pogodin-react-utils-*

# Ignores documentation
/docs

# Config TS sources
/config-ts-src
