/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

// BEWARE: This file is now also processed by our CSS modules setup from
// react-utils, thus :global() use is necessary for all class names that
// are not intended to be transformed (like all class names in this very
// module).

@use "@dr.pogodin/react-utils/mixins" as *;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

body {
  @include typography;
}

:global(.deprecated) {
  color: lightgray;
  text-decoration: line-through;

  a { color: lightgray; }
}

:global(.admonition-heading) {
  h5 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: none;
  }
}

:global(.docusaurus-highlight-code-line) {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] :global(.docusaurus-highlight-code-line) {
  background-color: rgba(0, 0, 0, 0.3);
}
