defaults: &defaults
  docker:
    - image: cimg/node:lts

version: 2.1
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: node-modules-{{ checksum "package-lock.json" }}-{{ checksum "docs/package-lock.json" }}
      - run: npm install && npm run build && npm pack
      - run:
          command: npm install ../dr.pogodin-react-utils-*.tgz && npm install
          working_directory: docs
      - save_cache:
          key: node-modules-{{ checksum "package-lock.json" }}-{{ checksum "docs/package-lock.json"}}
          paths:
            - node_modules
            - docs/node_modules
      - run: npm test
      - run:
          name: Documentation build
          command: npm run build
          working_directory: docs
      - persist_to_workspace:
          root: .
          paths:
            - build
            - config
            - docs/build
  release:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./bin/release.sh

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
          requires:
            - test
