{
  "extends": [
    "../../config/eslint/default.json",
    "../../config/eslint/jest.json"
  ],
  "root": true,
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }]
  }
}