*,
.context,
.ad.hoc {
  &.checkbox {
    appearance: none;
    background: white;
    border: 1px solid gray;
    border-radius: 0.3em;
    cursor: pointer;
    height: 2em;
    margin: 0;
    width: 2em;

    &:checked {
      &::after {
        background: black;
        border-radius: 0.3em;
        content: '';
        display: block;
        height: 1.2em;
        margin: 0.3em;
        width: 1.2em;
      }
    }
  }

  &.container {
    align-items: center;
    display: inline-flex;
    margin: 0.3em 0.3em 0.3em 1.5em;
  }

  &.label {
    margin-right: 0.6em;
  }
}
